.list-group-item {
  min-height: 200px;
}

label {
  font-size: 1.0em;
  font-weight: bold;
}

label.location {
  float: right;
}

.image {
  width: 140px;
  display: inline-block;
  margin-left: 15px;
}

.occupation {
  display: inline-block;
  margin: 15px;
}

img {
  width: 140px;
  height: 140px;
}

img:hover {
  cursor: pointer;
}
