<section class="top">
  <p class="child-page-title"><b>User Login</b></p>
  <p>Don't have an account?
    <a routerLinkActive="active"
       routerLink="/register"
       *ngIf="!authInfo?.isLoggedIn()"
   >Sign Up</a>
  </p>
<section>

<form novalidate [formGroup]="form">
  <div class="row">
    <div class="col-xs-12">
        <div id="user_creds" class="form-group">
         <input name="email" formControlName="email" type="email" class="form-control" aria-describedby="emailHelp">
         <input name="password" formControlName="password" type="password" class="form-control">
       </div>
     </div>
   </div>

  <div class="button-container">
    <button class="btn btn-lg new-account" (click)="signin()">Login</button>
  </div>

</form>
