.child-page-title {
  font-size: 2em;
  text-align: center;
}

.form-control {
  margin: 5px;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

.col-xs-12 h4 {
  text-align: center;
}

.button-container {
  text-align: center;
  margin: 10px;
}

button.new-account {
  background-color: #4EC5C1;
  color: #FFF;
}

button.new-account:hover {
  color: #E5E338;
}