<form novalidate [formGroup]="form" id="login">
  <fieldset>
    <legend>User Login</legend>
    <p>Don't have an account?
      <a routerLinkActive="active"
         routerLink="/register"
         *ngIf="!authInfo?.isLoggedIn()"
     >Sign Up</a>
    </p>
    <div class="form-fields">
      <div class="form-field">
        <label>Email:</label>
         <input name="email" formControlName="email" type="email" class="form-control" aria-describedby="emailHelp">
      </div>
      <div class="form-field">
         <label>Password:</label>
         <input name="password" formControlName="password" type="password" class="form-control">
      </div>
    </div>
     <button class="btn" (click)="signin()">Login</button>
   </fieldset>
</form>
