<form [formGroup]="form" autocomplete="off" novalidate>
  <fieldset>
    <legend>Create user profile</legend>
    <div class="form-field">
      <label>Username</label>
      <input name="username" formControlName="username">
      <div class="field-error-message" *ngIf="isErrorVisible('username', 'required')">Field is required</div>
    </div>
    <div class="form-field">
      <label>Photo</label>
      <input name="photo" formControlName="photo">
      <div class="field-error-message" *ngIf="isErrorVisible('photo', 'required')">Field is required</div>
    </div>
    <div class="form-field">
      <label>Occupation</label>
      <input name="occupation" formControlName="occupation">
      <div class="field-error-message" *ngIf="isErrorVisible('occupation', 'required')">Field is required</div>
    </div>
  </fieldset>
</form>
