<section class="row">
  <header class="col-xs-12">
    <h2>Welcome, {{currentUser?.username}}!</h2>
    <hr>
    <button class="btn btn-sm" routerLink="edit">Edit Profile</button>
  </header>

  <section class="col-sm-6 photo">
    <label>Profile Image</label><br><img src="{{currentUser?.photo}}" alt="image-of-user">
  </section>
  <section class="col-sm-6">
    <label>Username </label><p>{{currentUser?.username}}</p>
    <label>Occupation </label><p>{{currentUser?.occupation}}</p>
    <label>Email </label><p>{{currentUser?.email}}</p>
    <label>Location </label><p>{{currentUser?.location}}</p>
  </section>
</section>
<hr>
<section>
  <skills-list [skills]="skills$ | async"></skills-list>
  <br>
</section>
