@font-face {
  font-family: 'brand';
  src: url('./assets/fonts/Destrukt.ttf')
}

header {
  font-size: 3.0em;
  padding: 5px;
  font-family: 'brand', sans-serif;
  color: #f7f5f4;
  text-align: center;
}

.jumbotron {
  background-color: #4EC5C1;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#tagline {
  margin: 15px;
  text-align: center;
  font-size: 1.0em;
  color: #f7f5f4;
}

section#buttons {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 25px;
}

section#buttons button.btn {
  color: #4EC5C1;
  background-color: #f7f5f4;
}

section#buttons button.btn:hover {
  cursor: pointer;
}
