<!-- <skills-list [skills]=skillsProperty></skills-list> -->

<div class="jumbotron">
  <header>Skill Swap</header>
  <h3 id="tagline">A social platform <br>for sharing and <br> learning skills</h3>
  <section id="buttons">
    <div class="col-xs-6">
       <a routerLinkActive="active"
          routerLink="/register"
          *ngIf="!authInfo?.isLoggedIn()"
      ><button class="btn">Sign Up</button></a>
    </div>
    <div class="col-xs-6">
       <a routerLinkActive="active"
          routerLink="/login"
          *ngIf="!authInfo?.isLoggedIn()"
      ><button class="btn">Log in</button></a>
    </div>
  </section>
</div>
