<!-- <skills-list [skills]=skillsProperty></skills-list> -->

<div class="jumbotron">
  <p id="main-page-brand">Skill Swap</p>
  <p id="phrase">A platform for sharing and learning.</p>
  <div id="home-page-btn-row" class="row">
    <div class="col-xs-6">
       <a routerLinkActive="active"
          routerLink="/register"
          *ngIf="!authInfo?.isLoggedIn()"
      ><button class="btn user">Sign Up</button></a>
    </div>
    <div class="col-xs-6">
       <a routerLinkActive="active"
          routerLink="/login"
          *ngIf="!authInfo?.isLoggedIn()"
      ><button class="btn user">Log in</button></a>
    </div>
  </div>
</div>