fieldset {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

form#register {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

form legend {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}


form label {
  width: 100%;
  text-align: left;
}

form input {
  width: 100%;
}

form button.btn {
  float: right;
  color: #f7f5f4;
  background-color: #4EC5C1
}

form button.btn:hover {
  cursor: pointer;
}
